@media (min-width : 320px) and (max-width: 767px) {
  /* acerca de Mí */

.divAcerca{
    background-color: rgb(247, 237, 237);
  }

.divTextoAcerca{
  margin-left: 30px;
}

.divImg{
  display: none;

}
.tituloAcerca{

  font-weight: 400;
  font-size: xx-large;
  margin-left: 37px;

}

.imgProfile{
  display: none;
 
}

.container-2 {
  width: 210px; 
  perspective: 1800px;
  display: flex;
  margin-top: 328px;
}

/* habilidades */

.tituloHabilidades {
  font-weight: 400;
  font-size: xx-large;
  margin-left: 37px;
}

[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: 62px;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

.Habilidades {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -16px;
  font-size: 40px;
  background-color: whitesmoke;
}
.container-2{
  display: none;
}


/* Página Nav */

* {
    padding: 0;
    margin: 0;
 
}


.wrapper {
     width: 100%;
    margin: auto;
    overflow:hidden;
}
 
header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
}
  
   nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}
  nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

  nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
}

.contenido {
  padding-top: 150px;
}

.am {
  border-radius: 50px;
  padding: 17px;
  color: black !important;
  font-size: 16px;
  margin-top: 15px;
  height: 58px;
  width: 58px;
  margin-left: 2px;
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}

.proyecto:link {
color: rgb(173, 173, 173);
text-decoration: none 
}

.proyecto:visited {
color: rgb(173, 173, 173);
text-decoration: none
}

.proyecto:hover {
color:white;
text-decoration: none 
}

.proyecto2:link {
color: rgb(173, 173, 173);
text-decoration: none
}

.proyecto2:visited {
color: rgb(173, 173, 173); 
text-decoration: none 
}

.proyecto2:hover { 
color:white; 
text-decoration: none
}

.contactame1:link { 
color: rgb(173, 173, 173);
text-decoration: none
}

.contactame1:visited {
color: rgb(173, 173, 173);
text-decoration: none 
}
.contactame1:hover {
color:white;
text-decoration: none 
}

.enunciado{
  margin-top: -50px;
}

.logo2{
  display: none;
  
}

/* Contacto */

.hr{
  margin-top: 30px; 
  height: 8px;
  color:whitesmoke;
}

.icon{
  width: 16%;
}

.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.p-4 {
  padding: 6.5rem!important;
}


.bombillo{
  display: flex;
  margin-left: 56px;
  margin-top: -11px;
  display: none;
}
.bombillo2{
  display: flex;
  margin-left: 56px;
  margin-top: -11px;
  display: none;
}
.planta{
  display: none;
}

.campana{
  display: none;
}

.bg-light {
  background-color: rgb(232, 232, 232) !important ;
  height: 706px;

 
}
.bg-light2 {
  background-color: rgb(232, 232, 232) !important ;
  margin-top: 171px;

}


.contactame1{
  display: none;
}

/* boton CV */

.btnCv {
 background-color:  rgb(168, 168, 168);
 border-radius: 10%;
 color: white !important;
 size: 25px;
 text-decoration: none;
 margin-left: 4px;
 height: 20px;

}
.btnCv:link {
text-decoration: none
}

.btnCv:visited {
color: rgb(173, 173, 173); 
text-decoration: none
}

.btnCv:hover {
color:white;
text-decoration: none;
height: 20px; }
 
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 662px;
  margin-top: 68px;
  background-color: white;
}
.carruselTexto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-top: 10px;
}
.imgCarrusel {
  display: block;
  width: 100%;
  background-color: rgb(232, 232, 232) !important ;
  justify-content: center;
}

.carruselImg {
  display: flex;
  justify-content: center;
  background-color: rgb(232, 232, 232) !important ;
  

}
} 


@media (min-width : 768px) and (max-width: 1100px) {

  /* acerca de Mí */

.divAcerca{
    background-color: rgb(247, 237, 237);
  }
  
.divTextoAcerca{
  margin-left: 85px;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.divImg{
  display: flex;
}

.tituloAcerca{
  font-weight: 600;
  font-size: xxx-large;
  margin-left: 49px;

}

.imgProfile{
  display: flex;
  position: absolute;
  border-radius: 69%;
  width: 21%;
  margin-top: 12px;
  margin-left: 9%;
}

.container-2 {
  width: 210px; 
  perspective: 1800px;
  display: flex;
  margin-top: 328px;
}

/* Habilidades*/

.tituloHabilidades {
  font-weight: 600;
  font-size: xxx-large;
  margin-left: 49px;
}

[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: 120px;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

.Habilidades{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0px;
  font-size: 40px;
  background-color: whitesmoke;
}

/* Pagina  */

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
}

header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
}
  
nav ul {
    list-style: none;
    overflow: hidden; 
  
}

nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
}
  
.contenido {
  padding-top: 150px;
}

.a{
  margin: -2px;
  margin-top: 12px;
}

.am {
  border-radius: 50px;
  padding: 17px;
  color: black !important;
  font-size: 16px;
  margin-top: 15px;
  height: 58px;
  width: 58px;
  margin-left: 2px;
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}
.proyecto:link {
color: rgb(173, 173, 173);
text-decoration: none 
}

.proyecto:visited {
color: rgb(173, 173, 173);
text-decoration: none 
}

.proyecto:hover { 
color:white; 
text-decoration: none
}

.proyecto2:link { 
color: rgb(173, 173, 173);
text-decoration: none
}

.proyecto2:visited {
color: rgb(173, 173, 173);   
text-decoration: none 
}

.proyecto2:hover { 
color:white;  
text-decoration: none 
}

.contactame1:link { 
color: rgb(173, 173, 173); 
text-decoration: none 
}

.contactame1:visited {
color: rgb(173, 173, 173);   
text-decoration: none 
}
.contactame1:hover { 
color:white; 
text-decoration: none 
}

/* Contacto */

.icon{
  width: 16%;
}

.container-2{
  display: none;
}

.logo2 {

  width: 960px;
  margin-top: -17px;
  display: flex;
  align-items: center;
}

.logos22{
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.enunciado{
  margin-top: -186px;
}

.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.bombillo{
  display: flex;
  margin-left: 133px;
  margin-top: -100px;
}
.bombillo2{
  display: flex;
  margin-left: 230px;
  margin-top: -80px;
}

.planta{
    display: flex;
    position: relative;
    margin-left: 5px;
    margin-top: -120px;
}


.bg-light {
  background-color: rgb(232, 232, 232) !important ;
  height: 545px;
 
}
.bg-light2 {
  background-color: rgb(232, 232, 232) !important ;
  margin-top: 171px;
  
}
.campana{
  display: flex;
  margin-top: -10px;
  width: 40px;
  margin-left: 46px;
}

 
.btnCv {
  background-color:  rgb(168, 168, 168);
 border-radius: 10%;
 color: white !important;
 size: 25px;
 text-decoration: none;
 margin-left: 4px;
 height: 20px;
}

.btnCv:link {
text-decoration: none
 }

.btnCv:visited {
color: rgb(173, 173, 173);  
text-decoration: none 
}

.btnCv:hover {
color:white;  
text-decoration: none; 
height: 20px; }


/* CARROUSEL NUEVO */


.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 864px;
  margin-top: 70px;
  background-color: white;
}
.carruselTexto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-top: 10px;
}

.imgCarrusel {
  display: block;
  width: 100%;
  background-color: rgb(232, 232, 232) !important ;
  justify-content: center;
}

.carruselImg {
  display: flex;
  justify-content: center;
  background-color: rgb(232, 232, 232) !important ;
  

}



}

@media (min-width : 1101px) and (max-width: 1900px) { 
  /* acerca de Mí */
  .divAcerca{
    background-color: rgb(247, 237, 237);
  }

.divTextoAcerca{
  margin-left: 85px;
  width: 50%;
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 237, 237);
}

.divImg{
  display: flex;
}

.tituloAcerca{
  font-weight: 600;
  font-size: xxx-large;
  margin-left: 49px;

}

.imgProfile{
  display: flex;
  position: absolute;
  border-radius: 69%;
  width: 20%;
  margin-top: -58px;
  margin-left: 9%;
}

.container-2 {
  width: 210px; 
  perspective: 1800px;

}
/* carrousel 3D */

#carousel {
  top: 0px;
  width: 100%;
  height: 28%;
  transform: translateZ( -288px );
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: rotateInY 18s infinite linear;
}

/* Pagina */

* {
    padding: 0;
    margin: 0;
  }

.wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
}

header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
}
  
nav ul {
    list-style: none;
    overflow: hidden; 
}

nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
}

.proyecto:link {
color: rgb(173, 173, 173);
text-decoration: none
}

.proyecto:visited {
color: rgb(173, 173, 173);  
text-decoration: none
}

.proyecto:hover { 
color:white;
text-decoration: none
}

.proyecto2:link { 
color: rgb(173, 173, 173);
text-decoration: none
}

.proyecto2:visited {
color: rgb(173, 173, 173); 
text-decoration: none
}

.proyecto2:hover { 
color:white; 
text-decoration: none
}

.contactame1:link { 
color: rgb(173, 173, 173);
text-decoration: none }
.contactame1:visited {
color: rgb(173, 173, 173); 
text-decoration: none
}

.contactame1:hover { 
color:white;
text-decoration: none

}
    
.contenido {
  padding-top: 150px;
}

.am {
  border-radius: 50px;
  padding: 17px;
  color: black !important;
  font-size: 16px;
  margin-top: 15px;
  height: 58px;
  width: 58px;
  margin-left: 2px;
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}

.icon{
  width: 16%;
}

.hr{
    margin-top: 30px; 
    height: 8px;
    color:whitesmoke;
}

[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: 450%;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

#carousel figure:nth-child(1) {
  transform: rotateY( 0deg ) translateZ( 288px );
}
#carousel figure:nth-child(2) {
  transform: rotateY( 40deg ) translateZ( 288px );
}
#carousel figure:nth-child(3) {
  transform: rotateY( 80deg ) translateZ( 288px );
}
#carousel figure:nth-child(4) {
  transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel figure:nth-child(5) {
  transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel figure:nth-child(6) {
  transform: rotateY( 200deg ) translateZ( 288px );
}
#carousel figure:nth-child(7) {
  transform: rotateY( 240deg ) translateZ( 288px );
}
#carousel figure:nth-child(8) {
  transform: rotateY( 280deg ) translateZ( 288px );
}
#carousel figure:nth-child(9) {
  transform: rotateY( 320deg ) translateZ( 288px );
}

#carousel figure i {
  display: block;
  position: absolute;
  text-align: center;
}

@keyframes rotateInY {
0%   { transform: translateZ(-288px) rotateY(0deg);   }
100% { transform: translateZ(-288px) rotateY(360deg);    }
}

.Habilidades{
  display: none;
}

.logo2 {
  width: 1130px;
  margin-top: -17px;
  display: flex;
  align-items: center;
}

.logos22{
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.enunciado{
  margin-top: -186px;
}
.proyecto{
  margin-left: 31px;
}
.proyecto2{
  margin-left: -15px;
}
.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.bombillo{
  display: flex;
  margin-left: 133px;
  margin-top: -100px;
}
.bombillo2{
  display: flex;
  margin-left: 230px;
  margin-top: -80px;
}
.planta{
  display: flex;
  margin-left: 5px;
  margin-top: -120px;
  z-index: 2000;
 
}
.bg-light {
  background-color: rgb(232, 232, 232) !important ;
  height: 740px;
  display: flex;
}
.bg-light2 {
  background-color: rgb(232, 232, 232) !important ;
  margin-top: 171px;
 
}
.campana{
  display: flex;
  margin-top: -10px;
  width: 40px;
  margin-left: 46px;
}


.aboutimg4{
  display: flex;
  width: 30%;
  position: absolute;
} */


.btnCv {
background-color:  rgb(168, 168, 168);
 border-radius: 10%;
 color: white !important;
 size: 25px;
 text-decoration: none;
 margin-left: 4px;
 height: 20px;
}

.btnCv:link {
text-decoration: none 
}

.btnCv:visited {
color: rgb(173, 173, 173);
text-decoration: none
}

.btnCv:hover { 
color:white;  
text-decoration: none; 
height: 20px; 
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
}

/* CARROUSEL NUEVO */


.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 756px;
  margin-top: 12px;
  background-color: white;
}
.carruselTexto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-top: 10px;
}
.imgCarrusel {
  display: block;
  width: 50%;
  background-color: rgb(232, 232, 232) !important ;
  justify-content: center;
}

.carruselImg {
  display: flex;
  justify-content: center;
  background-color: rgb(232, 232, 232) !important ;
}

.carruselImg1 {
  display: block;
  width: 54%;
  background-color: rgb(232, 232, 232) !important;
  justify-content: center;

}

}

@media (min-width : 1901px) and (max-width: 2500px) { 
    /* acerca de Mí */

.divAcerca{
  background-color: rgb(247, 237, 237);
}


.divTextoAcerca{
  margin-left: 85px;
  width: 50%;
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 237, 237);
}

.divImg{
  display: flex;
}

.tituloAcerca{
  font-weight: 600;
  font-size: xxx-large;
  margin-left: 49px;

}

.imgProfile{
  display: flex;
  position: absolute;
  border-radius: 69%;
  width: 15%;
  margin-top: -59px;
  margin-left: 9%;
}

.container-2 {
  width: 210px; 
  perspective: 1800px;

}
/* carrousel 3D */

#carousel {
  top: 112px;
  width: 100%;
  height: 34%;
  transform: translateZ( -288px );
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: rotateInY 18s infinite linear;
}

/* Pagina */


* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
 }

header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
 
}

nav ul {
    list-style: none;
    overflow: hidden; 
}

nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block; 
    padding: 18px;
    color: #fff;
    text-decoration: none;
    margin-top: -2px;
   
}

.contenido {
  padding-top: 150px;
}

.am {
  border-radius: 50px;
  padding: 17px;
  color: black !important;
  font-size: 16px;
  margin-top: 15px;
  height: 58px;
  width: 58px;
  margin-left: 2px;
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}

.proyecto:link {
color: rgb(173, 173, 173);
text-decoration: none
}

.proyecto:visited {
color: rgb(173, 173, 173);  
text-decoration: none
}

.proyecto:hover {
color:white;
text-decoration: none
}


.proyecto2:link { 
  color: rgb(173, 173, 173); 
  text-decoration: none 
}

.proyecto2:visited {
  color: rgb(173, 173, 173);  
  text-decoration: none 
}

.proyecto2:hover { 
  color:white;  
  text-decoration: none 
}

.contactame1:link { 
  color: rgb(173, 173, 173);
  text-decoration: none
}
.contactame1:visited {
  color: rgb(173, 173, 173);  
   text-decoration: none
}

.contactame1:hover { 
color:white; 
text-decoration: none 
}

.icon{
  width: 16%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125); 
  border-radius: .25rem;
  margin: 46px;
}

.hr{
margin-top: 30px; 
height: 8px;
color: whitesmoke;

}


[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: 550%;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

#carousel figure:nth-child(1) {
  transform: rotateY( 0deg ) translateZ( 288px );
}
#carousel figure:nth-child(2) {
  transform: rotateY( 40deg ) translateZ( 288px );
}
#carousel figure:nth-child(3) {
  transform: rotateY( 80deg ) translateZ( 288px );
}
#carousel figure:nth-child(4) {
  transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel figure:nth-child(5) {
  transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel figure:nth-child(6) {
  transform: rotateY( 200deg ) translateZ( 288px );
}
#carousel figure:nth-child(7) {
  transform: rotateY( 240deg ) translateZ( 288px );
}
#carousel figure:nth-child(8) {
  transform: rotateY( 280deg ) translateZ( 288px );
}
#carousel figure:nth-child(9) {
  transform: rotateY( 320deg ) translateZ( 288px );
}

#carousel figure i {
  display: block;
  position: absolute;
  text-align: center;
}

@keyframes rotateInY {
0%   { transform: translateZ(-288px) rotateY(0deg);   }
100% { transform: translateZ(-288px) rotateY(360deg);    }
}

.Habilidades{
  display: none;
}

.logo2 {
  width: 1263px;
  margin-top: -23px;
  display: flex;
  align-items: center;
}

.logos22{
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.enunciado{
  margin-top: -186px;
}
.proyecto{
  margin-left: 31px;
}
.proyecto2{
  margin-left: -15px;
}

.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.bombillo{
  display: flex;
  margin-left: 138px;
  margin-top: -100px;
}
.bombillo2{
  display: flex;
  margin-left: 230px;
  margin-top: -80px;
  
}
.planta{
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-top: -120px;
  z-index: 1;
}

.planta2{
  display: flex;
  position: absolute;
  margin-left: -161px;
  margin-top: 99px;
  width: 280px;
  height: 280px;
  border-radius: 150px;
}

.bg-light {
  background-color: rgb(232, 232, 232) !important ;
  height: 545px;
  display: flex;
}
.bg-light2 {
  background-color: rgb(232, 232, 232) !important ;
  margin-top: 171px;

}

.campana{
  display: flex;
  margin-top: -10px;
  width: 40px;
   margin-left: 46px;
}

.btn {
  display: inline-block;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 5px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 1.25rem;
}


.btnCv {
  background-color:  rgb(168, 168, 168);
 border-radius: 10%;
 color: white !important;
 size: 25px;
 text-decoration: none;
 margin-left: 4px;
 height: 20px;

}
.btnCv:link {
text-decoration: none 
}

.btnCv:visited {
  color: rgb(173, 173, 173);
  text-decoration: none
}

.btnCv:hover {
 color:white;  
 text-decoration: none;
  height: 20px; }

/* CARROUSEL NUEVO */


.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 896px;
  margin-top: 12px;
  background-color: white;
}
.carruselTexto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-top: 10px;
}
.imgCarrusel {
  display: block;
  width: 50%;
  background-color: rgb(232, 232, 232) !important ;
  justify-content: center;
}

.carruselImg {
  display: flex;
  justify-content: center;
  background-color: rgb(232, 232, 232) !important ;
}
.carruselImg1 {
  display: block;
  width: 47%;
  background-color: rgb(232, 232, 232) !important;
  justify-content: center;

}
}


