@media (min-width : 320px) and (max-width: 767px) {
* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue' ;
  }
  p {
    margin-bottom: 30px;
  }
  .wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
  }
  
  /* nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
  }
 .contenido {
  padding-top: 150px;
}

.am {
  border-radius: 50px;
  /* background-color: rgb(242,242,242); */
  /* border-color: #ffe8d6; */
  padding: 17px;
  color: black !important;
  font-size: 16px;
  /* display: flex; */
  margin-top: 15px;
  /* border-style: ridge; */
  /* border-width: thin; */
  height: 58px;
  width: 58px;
  margin-left: 2px;
  /* background-color: #ffe8d6; */
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}

A:link {text-decoration: none }
A:visited {color: rgb(173, 173, 173);  font-family: arial; text-decoration: none }
A:hover { color:white; font-family: arial; text-decoration: none }

.hr{
  margin-top: 30px; 
  height: 8px;
  color:whitesmoke;
}

.icon{
  width: 16%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}


[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: xxx-large;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-inner img {
  width: 40%;
  height: 40%;
}
.carrusel1{
  display: flex;
  position: relative;
  justify-content: center;
  margin-left: 39%;
}
.p-4{
  padding: 1.5rem!important;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.container-2{
  display: none;
}
.logo2{
  display: none;
  
}
.enunciado{
  margin-top: -50px;
}
.acercaDeMi{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black !important;
  margin: 40px;
  font-size: 40px;
}
.contenidoAcerca{
  margin: 80px;
  /* margin-bottom: 50px; */
}

.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.proyectosImg {
  width: 600px;
  margin-top: 90px;
}

.card-body {
  width: 70%;
  height: 50%;
}
.p-4 {
  padding: 6.5rem!important;
}

.sectionCompleta{
  display: flex;
  
}

.avion {
  display: none;
}
.bombillo{
  display: flex;
  margin-left: 56px;
  margin-top: -11px;
  display: none;
}
.bombillo2{
  display: flex;
  margin-left: 56px;
  margin-top: -11px;
  display: none;
}
.planta{
  display: none;
}
.bg-light {
  background-color: #f8f9fa!important;
  height: 545px;
  /* display: flex; */
 
}
.Habilidades {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 178px;
  font-size: 40px;
}
.letraHabilidades{
  font-size: 40px;
  margin-left: 35px;

}
.campana{
  display: none;
}
.aboutMe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100px; 
}


.aboutimg{
  display: flex;
  width: 100%;
  position: absolute;

}
.contactame1{
  display: none;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  bottom: -70px;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  color: black !important;

}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  height: 527px;
}

.carousel-indicators [data-bs-target] {
  color: black;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 11px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 63px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

   
}


@media (min-width : 768px) and (max-width: 1100px) {
  * {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 30px;
  }
  .wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
  }
  
  /* nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
  }
  
.contenido {
  padding-top: 150px;
}

.a{
  margin: -2px;
  margin-top: 12px;
}

.am {
  border-radius: 50px;
  /* background-color: rgb(242,242,242); */
  /* border-color: #ffe8d6; */
  padding: 17px;
  color: black !important;
  font-size: 16px;
  /* display: flex; */
  margin-top: 15px;
  /* border-style: ridge; */
  /* border-width: thin; */
  height: 58px;
  width: 58px;
  margin-left: 2px;
  /* background-color: #ffe8d6; */
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}
A:link {text-decoration: none }
A:visited {color: rgb(173, 173, 173);  font-family: arial; text-decoration: none }
A:hover { color:white; font-family: arial; text-decoration: none }

.icon{
  width: 16%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0,0,0,.125);  */
  border-radius: .25rem;
  margin: 26px;
  /* padding: 9px;*/
}

[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: 120px;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

.container-2{
  display: none;
}

.Habilidades{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 8px;
  font-size: 40px;
}
.logo2 {

  width: 960px;
  margin-top: -17px;
  display: flex;
  align-items: center;
}

.logos22{
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}


.enunciado{
  margin-top: -186px;
}

.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;

}
.acercaDeMi{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black !important;
  margin: 40px;
  font-size: 40px;
}
.contenidoAcerca{
  margin: 80px;
 
}


.proyecto{
  margin-left: 31px;
}
.proyecto2{
  margin-left: -15px;
}

.proyectosImg {
  width: 600px;
  margin-top: 90px;
}

.card-body {
  width: 70%;
  height: 50%;
}
.p-4 {
  padding: 6.5rem!important;
}
.avion{
  z-index: 10000;
}
.bombillo{
  display: flex;
  margin-left: 133px;
  margin-top: -100px;
}
.bombillo2{
  display: flex;
  margin-left: 230px;
  margin-top: -80px;
}

.planta{
    display: flex;
    position: relative;
    margin-left: 5px;
    margin-top: -120px;
    /* z-index: 2000; */

}
.bg-light {
  background-color: #f8f9fa!important;
  height: 545px;
  /* display: flex; */
}
.campana{
  display: flex;
  margin-top: -10px;
  width: 40px;
  /* height: 95px; */
  margin-left: 46px;
}
.aboutMe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 190px; 
}

.about {
 width: 60%;
}
.aboutimg{
  display: flex;
  width: 40%;
  position: absolute;

}
.carousel-indicators {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  bottom: -70px;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  color: black !important;

}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  height: 727px;
}

.carousel-indicators [data-bs-target] {
  color: black;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 11px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 63px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}



}

@media (min-width : 1101px) and (max-width: 1900px) { 
  * {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 30px;
  }
  .wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
  }
  
  /* nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
    }

    A:link {text-decoration: none }
    A:visited {color: rgb(173, 173, 173);  font-family: arial; text-decoration: none }
    A:hover { color:white; font-family: arial; text-decoration: none }
    
.contenido {
  padding-top: 150px;
}

.am {
  border-radius: 50px;
  /* background-color: rgb(242,242,242); */
  /* border-color: #ffe8d6; */
  padding: 17px;
  color: black !important;
  font-size: 16px;
  /* display: flex; */
  margin-top: 15px;
  /* border-style: ridge; */
  /* border-width: thin; */
  height: 58px;
  width: 58px;
  margin-left: 2px;
  /* background-color: #ffe8d6; */
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}

.icon{
  width: 16%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125); 
  border-radius: .25rem;
  margin: 46px;
  /* padding: 9px;*/
}

.hr{
    margin-top: 30px; 
    height: 8px;
    color:whitesmoke;
}

[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: 450%;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

#carousel figure:nth-child(1) {
  transform: rotateY( 0deg ) translateZ( 288px );
}
#carousel figure:nth-child(2) {
  transform: rotateY( 40deg ) translateZ( 288px );
}
#carousel figure:nth-child(3) {
  transform: rotateY( 80deg ) translateZ( 288px );
}
#carousel figure:nth-child(4) {
  transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel figure:nth-child(5) {
  transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel figure:nth-child(6) {
  transform: rotateY( 200deg ) translateZ( 288px );
}
#carousel figure:nth-child(7) {
  transform: rotateY( 240deg ) translateZ( 288px );
}
#carousel figure:nth-child(8) {
  transform: rotateY( 280deg ) translateZ( 288px );
}
#carousel figure:nth-child(9) {
  transform: rotateY( 320deg ) translateZ( 288px );
}

#carousel figure i {
  display: block;
  position: absolute;
  /* left: 10px;
  top: 10px; */
  /* width: 100px;
  height: 100px; */
  /* border: 2px solid rgba(   0, 0, 0, 0.8 ); */
  /* line-height: 116px; */
  /* font-size: 80px; */
  /* font-weight: bold; */
  /* color: black; */
  text-align: center;
  /* margin: 0; */
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ( -288px );
  transform-style: preserve-3d;
  transition: transform 1s;
}

.container-2 {
  width: 210px;
  height: 140px;
  position: relative;
  margin: 0 auto 40px;
  /* border: 1px solid #CCC; */
  perspective: 1800px;
  padding: 60px;
  margin-right: 50px;
}

#carousel {
  animation: rotateInY 18s infinite linear;
}
@keyframes rotateInY {
0%   { transform: translateZ(-288px) rotateY(0deg);   }
100% { transform: translateZ(-288px) rotateY(360deg);    }
}

.Habilidades{
  display: none;
}

.logo2 {

  width: 1360px;
  margin-top: -17px;
  display: flex;
  align-items: center;
}

.logos22{
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.enunciado{
  margin-top: -186px;
}
.proyecto{
  margin-left: 31px;
}
.proyecto2{
  margin-left: -15px;
}
.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.acercaDeMi{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black !important;
  margin: 40px;
  font-size: 40px;
}
.contenidoAcerca{
  margin: 80px;
   margin-bottom: 50px;
}
.proyectosImg {
  width: 600px;
  margin-top: 90px;
}

.card-body {
  width: 70%;
  height: 50%;
}
.p-4 {
  padding: 6.5rem!important;
}
.bombillo{
  display: flex;
  margin-left: 133px;
  margin-top: -100px;
}
.bombillo2{
  display: flex;
  margin-left: 230px;
  margin-top: -80px;
}
.planta{
  display: flex;
  /* position: relative; */
  margin-left: 5px;
  margin-top: -120px;
  z-index: 2000;
 
}
.avion{
  display: flex;
  position: relative;
  justify-content: center;
  /* margin-top: -90px;
  margin-left: 930px; */
}
.bg-light {
  background-color: #f8f9fa!important;
  height: 640px;
  display: flex;
}
.campana{
  display: flex;
  margin-top: -10px;
  width: 40px;
  /* height: 95px; */
  margin-left: 46px;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 170px; 

}

.about {
 width: 60%;
}
.aboutimg{
  display: flex;
  width: 40%;
  position: absolute;

}
.carousel-indicators {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  bottom: -70px;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  color: black !important;

}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  height: 1027px;
}
.carousel-indicators [data-bs-target] {
  color: black;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 11px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 63px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}



}



@media (min-width : 1901px) and (max-width: 2500px) { 
  * {
    padding: 0;
    margin: 0;
    
  }
  p {
    margin-bottom: 30px;
  }
  .wrapper {
    width: 100%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
  }
  
  /* nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
  
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
    margin-left: -6px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 18px;
    color: #fff;
    text-decoration: none;
    margin-top: -2px;
   
  }

.contenido {
  padding-top: 150px;
}


.am {
  border-radius: 50px;
  /* background-color: rgb(242,242,242); */
  /* border-color: #ffe8d6; */
  padding: 17px;
  color: black !important;
  font-size: 16px;
  /* display: flex; */
  margin-top: 15px;
  /* border-style: ridge; */
  /* border-width: thin; */
  height: 58px;
  width: 58px;
  margin-left: 2px;
  /* background-color: #ffe8d6; */
  background-color: rgb(168, 168, 168);
}

.am:hover {
  background-color: #d6d6d6;
}

A:link {text-decoration: none }
A:visited {color: rgb(173, 173, 173);  font-family: arial; text-decoration: none }
A:hover { color:white; font-family: arial; text-decoration: none }

.icon{
  width: 16%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125); 
  border-radius: .25rem;
  margin: 46px;
  /* padding: 9px;*/
}

.hr{
margin-top: 30px; 
height: 8px;
color: whitesmoke;

}

[class^=devicon-], [class*=" devicon-"] {
  font-family: "devicon" !important;
  font-size: 550%;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

#carousel figure:nth-child(1) {
  transform: rotateY( 0deg ) translateZ( 288px );
}
#carousel figure:nth-child(2) {
  transform: rotateY( 40deg ) translateZ( 288px );
}
#carousel figure:nth-child(3) {
  transform: rotateY( 80deg ) translateZ( 288px );
}
#carousel figure:nth-child(4) {
  transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel figure:nth-child(5) {
  transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel figure:nth-child(6) {
  transform: rotateY( 200deg ) translateZ( 288px );
}
#carousel figure:nth-child(7) {
  transform: rotateY( 240deg ) translateZ( 288px );
}
#carousel figure:nth-child(8) {
  transform: rotateY( 280deg ) translateZ( 288px );
}
#carousel figure:nth-child(9) {
  transform: rotateY( 320deg ) translateZ( 288px );
}

#carousel figure i {
  display: block;
  position: absolute;
  /* left: 10px;
  top: 10px; */
  /* width: 100px;
  height: 100px; */
  /* border: 2px solid rgba(   0, 0, 0, 0.8 ); */
  /* line-height: 116px; */
  /* font-size: 80px; */
  /* font-weight: bold; */
  /* color: black; */
  text-align: center;
  /* margin: 0; */
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ( -288px );
  transform-style: preserve-3d;
  transition: transform 1s;
}

.container-2 {
  width: 210px;
  height: 140px;
  position: relative;
  margin: 0 auto 40px;
  perspective: 1800px;
  padding: 60px;
  margin-right: 50px;
}

#carousel {
  animation: rotateInY 18s infinite linear;
}
@keyframes rotateInY {
0%   { transform: translateZ(-288px) rotateY(0deg);   }
100% { transform: translateZ(-288px) rotateY(360deg);    }
}

.Habilidades{
  display: none;
}

.logo2 {
  width: 1620px;
  margin-top: -17px;
  display: flex;
  align-items: center;
}

.logos22{
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.enunciado{
  margin-top: -186px;
}
.proyecto{
  margin-left: 31px;
}
.proyecto2{
  margin-left: -15px;
}

.contacto{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.acercaDeMi{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black !important;
  margin: 40px;
  font-size: 40px;
}
.contenidoAcerca{
  margin: 80px;
  /* margin-bottom: 50px; */
}
.proyectosImg {
  width: 600px;
  margin-top: 90px;
}

.card-body {
  width: 70%;
  height: 50%;
}
.p-4 {
  padding: 6.5rem!important;
}

.bombillo{
  display: flex;
  margin-left: 138px;
  margin-top: -100px;
}
.bombillo2{
  display: flex;
  margin-left: 230px;
  margin-top: -80px;
  
}
.planta{
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-top: -120px;
  z-index: 1;
}
.bg-light {
  background-color: #f8f9fa!important;
  height: 545px;
  display: flex;
}
.campana{
  display: flex;
  margin-top: -10px;
  width: 40px;
  /* height: 95px; */
  margin-left: 46px;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  height: 190px; 

}

.about {
 width: 50%;
}
.aboutimg{
  display: flex;
  width: 40%;
  position: absolute;

}
.carousel-indicators {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
  bottom: -70px;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  color: black !important;

}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  height: 1327px;
}
.carousel-indicators [data-bs-target] {
  color: black;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 11px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 63px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
.btn {
  display: inline-block;
  font-weight: 800;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  user-select: none;
  /* background-color: transparent; */
  border: 5px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: 1.25rem;
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color 0.15s ease-in-out,box-shadow .15s ease-in-out; */
}


}


